@import "_header";

.main {

	&__content {
		max-width: 1000px;
		margin: 0 auto;
		padding: 20px 0px 0px 0px;
	}

	&__column {
		display: flex;
	}

	&__item {

	}

	&__title {
		margin: 0px 0px 10px 0px;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 700;
		&:hover{
			color: blueviolet;
		}
	}

	&__text {
		font-size: 20px;
		color: gold;
		text-transform: capitalize;
	}
}
.title {
}

